html {
    min-height:100%;
}
body, #page-content {
    background-color:#373737;
}
#page-content {
    padding-bottom: 22px;
}
.page-title {
    color:white;
}
#last-content {
    color: white;
    bottom: 0px;
    width: 100%;
    position: fixed;
    left: 0px;
    background-color:#373737;
}
.table-responsive {
    height:131px;
}

/* KPI BOX */
.kpi-box {
    border: 2px solid white;
    opacity: 0.8;
    background-color:gainsboro;
    height: 175px !important;
    box-shadow: 0px 2px 5px grey;
}
.kpi-box .positive {
    color:green;
}
.kpi-box .ok {
    color:yellow;
}
.kpi-box .negative {
    color:red;
}
.kpi-box .horde {
    color:red;
}
.kpi-box .alliance {
    color:skyblue;
}
.kpi-box .row .col-xs-6:first-child {
    text-align:right;
    font-weight:bold;
}
.kpi-box .row .col-xs-12.h4 {
    font-weight:bold;
}
.kpi-box .row {
    margin:0px;
}

/* KPI TABLE BOX */
.kpi-table-box {
    border: 2px solid white;
    opacity: 0.8;
    background-color:gainsboro;
    box-shadow: 0px 2px 5px grey;
    margin-right:15px;
    margin-left:15px;
    margin-top:15px;
}
.kpi-table-box .table{
    
}
.kpi-table-box .table td, .kpi-table-box .table th {
    border:2px solid #373737;
}
.bad {
    background-color: #ff4242 !important;
}
.meh {
    background-color: #ee9553 !important;
}
.okay {
    background-color: #ffff77 !important;
}
.good {
    background-color: #00cc66 !important;
}
.bad a, .meh a, .okay a, .good a{
    cursor:default;
    color:black;
}
.bad a:hover, .meh a:hover, .okay a:hover, .good a:hover{
    text-decoration: none;
    color:black;
}
.raid-progress-cell, .raid-progress-cell:hover {
    display:block;
    text-align:center;
}
.hidden {
    display:none;
}

/* Item Qualities */
.item-poor {
    color:#9d9d9d
}
.item-common {
    color:#ffffff
}
.item-uncommon {
    color:#1eff00
}
.item-rare {
    color:#0070dd
}
.item-epic {
    color:#a335ee
}
.item-legendary {
    color:#ff8000
}
.item-artifact, .item-heirloom {
    color:#e6cc80
}
.item-wowtoken {
    color:#00ccff
}